[Desktop Entry]
Name=Octopi Notifier
Comment=Get notified when package updates are available
Comment[ru]=Уведомления о доступных обновлениях пакетов
Icon=octopi
Exec=/usr/bin/octopi-notifier
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
#NotShowIn=GNOME;XFCE;LXDE;KDE;
StartupNotify=true
X-LXQt-Need-Tray=true
Version=1.5
SingleMainWindow=true
