[Desktop Entry]
Name=Octopi Repository Editor
Comment=Manage the package repositories used by the system
Comment[ru]=Настройка списка репозиториев пакетов
Icon=octopi
Exec=/usr/bin/octopi-repoeditor
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
#NotShowIn=GNOME;XFCE;LXDE;KDE;
StartupNotify=true
Version=1.5
SingleMainWindow=true
